@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}
.work {
  padding-bottom: 94px;
  & .list {
    display: flex;
    justify-content: space-between;
  }
  & .item {
    position: relative;
  }
}

.work-title {
  margin-bottom: 50px;

  color: $title-text;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.work-area {
  position: absolute;
  left: 0;
  bottom: 0;
  min-height: 70px;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
